button {
  padding: 15px;
  height: 40px;
  width: 50px;
  border-color: transparent;
  border-radius: 25%;
  background-color: rgb(168, 164, 164);
}
.md div {
  padding: 3px;
 
}
input {
  border-color: transparent;
  background-color: wheat;
  height: 40px;
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  
}
.md {
  width: 400px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 25px;
  margin: 20px auto;
  background-color: rgb(70, 161, 161);
  border-radius: 10%;
  text-align: center;
}
button:hover{
    background-color: rgb(240, 221, 221);
}
button:active{
    background-color: rgb(123, 57, 57);
}
#bb{
  background-color: orange;
}

#bb:hover{
  background-color: rgb(240, 221, 221);
}
#bb:active{
  background-color: rgb(123, 57, 57);
}
body{
  text-align: center;
}
