button {
  padding: 15px;
  height: 40px;
  width: 50px;
  border-color: transparent;
  border-radius: 25%;
  background-color: rgb(168, 164, 164);
}
.md div {
  padding: 3px;
}
input {
  border-color: transparent;
  background-color: wheat;
  height: 40px;
  width: 97%;
  padding: 10px;
  box-sizing: border-box;
}
.md {
  width: 280px;
  border: 2px solid black;
  padding: 25px;
  background-color: rgb(70, 161, 161);
  border-radius: 10%;
}
button:hover{
    background-color: wheat;
}
button:active{
    background-color: rgb(123, 57, 57);
}
#bb{
  background-color: orange;
}

#bb:hover{
  background-color:wheat ;
}
#bb:active{
  background-color: rgb(123, 57, 57);
}